html, body {
    height: 100%;
    color: #61DAFB;
    background: #2D2D2D;
}


h1 {
    margin: 20px 0 15px 0;
}

#main {
    width: 400px;
    margin-left: 100px;
    text-align: left;
}

ul {
    list-style: none;
    margin-left: -100px;
}

ul>li {
    background-color: #F5F5F5;
    color: #2D2D2D;
}
ul>li:hover{
    background-color: #F0F0F0
}


.close {
    position: fixed;
    left: 485px;

    border: none;
}

.close:hover{
    border: aquamarine;
    background-color: gray;
    color: brown;
}

.form-inline .form-control {
    width: 60%;
    margin-left: 0;
}


