@import '../variables';

.header {
  background: rgb(34, 33, 33);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      padding-left: 30px;
      img {
        padding: 10px;
      }
      h1 {
        color: $head-text;
      }
    }
    a:link,
    a:visited {
      text-decoration: none;
    }
  }

  .cartIcon {
    padding: 5px;
    border-radius: 8px;
    margin-right: 100px;
  }

  .cartIcon:hover {
    background: rgb(77, 77, 77);
  }
}
